.tab {
    width: 100%;
}

.tab td {
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}

.tab td:hover {
    background: #4244E2;
    color: #ffffff;
}

.tab tr:nth-child(odd) {
    background: #eee;
}